spring:
  application:
    name: reward-service
  
  r2dbc:
    url: r2dbc:postgresql://localhost:5432/rewardsdb
    username: postgres
    password: postgres
  
  sql:
    init:
      mode: always
      schema-locations: classpath:schema.sql

server:
  port: 8080

logging:
  level:
    org.example: DEBUG
    org.springframework.web: INFO
    org.springframework.data.r2dbc: DEBUG

